@import '../../../styles/colors';

@mixin fill-white {
  path {
    fill: white;
  }
}

@mixin fill-finch {
  path {
    fill: $clr-finch;
  }
}

@mixin fill-copper {
  path {
    fill: $clr-copper-rust;
  }
}

@mixin left {
  transform: rotate(180deg);
}

@mixin up {
  transform: rotate(-90deg);
}

@mixin down {
  transform: rotate(90deg);
}

.right-white {
  @include fill-white();
}

.left-white {
  @include left();
  @include fill-white();
}

.down-white {
  @include down();
  @include fill-white();
}

.up-white {
  @include up();
  @include fill-white();
}

.down-copper {
  @include down();
  @include fill-copper();
  width: 0.65rem;
  height: auto;
  margin: 0;
}

.up-finch {
  @include up();
  @include fill-finch();
  width: 0.65rem;
  height: auto;
  margin: 0;
}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1280px) {
}
