@import '../../../../colors';

.menu-bar-container {
  display: none;
}

// IPAD
@media (min-width: 768px) {
  .menu-bar-container {
    display: flex;
    align-items: center;

    * {
      margin-left: 1.25rem;
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
}
