@import '../../../colors';

.selected,
.nav-item-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;

  display: flex;
  align-items: center;

  .item-text {
    box-sizing: border-box;
    margin-left: 0.5rem;
    transition: all ease 0.3s;
    border-bottom: 0.1rem solid transparent;
  }
}

.nav-item-btn {
  svg {
    margin: 0;
    * {
      fill: white;
    }
  }
}

.selected {
  .item-text {
    color: $clr-primary;
    border-bottom: 0.1rem solid $clr-primary;
  }

  svg {
    margin: 0;
    * {
      fill: $clr-primary;
    }
  }
}

.nav-item-btn:hover {
  cursor: pointer;
  .item-text {
    // color: $clr-primary;
    border-bottom: 0.1rem solid white;
  }

  // svg {
  //   * {
  //     fill: $clr-primary;
  //   }
  // }
}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1024px) {
}
