$clr-primary: #ef233c;
$clr-deep-sea: #0d455d;
$clr-athens-gray: #f0f0f3;
$clr-dove-gray: #6c6c6c;
$clr-silver: #b9b9b9;
$clr-mine-shaft: #222222;
$clr-snow-flurry: #e5ffc7;
$clr-finch: #5e6a4d;
$clr-your-pink: #ffc7c7;
$clr-copper-rust: #9f5151;
