@import '../../styles/colors';

.explore-button {
  background: $clr-primary;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;

  .arrow-container {
    margin-left: 0.8rem;
    transition: all ease 0.2s;
  }
}

.explore-button:hover {
  cursor: pointer;
  background: darken($clr-primary, 5);

  .arrow-container {
    transform: translate(4px);
  }
}

.explore-button.curved {
  border-radius: 0px 0px 0px 12px;
}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1024px) {
}
